@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
  }
  
  .debug {
    border: 1px solid red; 
  }
  .text-butlearn-color{
    color: yellow;
  }
  .barra {
    width: 100%;
    background-color: black;
    height: 10px;
    position: relative;
    border: 1px solid orange; /* Borde naranja */
    display: flex; /* Habilita el modelo de caja flexible */
    align-items: center; /* Centra verticalmente */
   
  }
  
  .porcentaje {
    width: 0;
    height: 70%;
    background-color: orange;
    transition: width 1s ease-in-out;
    text-align: center;
    border-radius: 10px; /* Bordes redondeados */
  }